<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Life Done Different</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- <link rel="stylesheet" href="/js/mediaelementplayer.min.css" /> -->

</head>

<body style="padding-top: 70px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="imgs/banner-header-pastel.png" width="200px" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- END OF NAVIGATION -->

<!-- START OF ABOUT PAGE -->
    <div class="container-fluid" style="padding-right:0; padding-left:0;">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row full-top-row">

                 <div class="about-card col-xs-12  col-lg-6"> 
                    <!-- <div class="about-card"> -->
                        <div id="image"></div>
                    <!-- <img src="http://i.imgur.com/uAjff9y.jpg" alt="" class="about-card-image"> -->
                    </div>
                <!-- </div> -->
                <div class="col-lg-6 about-title">
                     <div>
                        <audio controls preload="none" class="large">
                            <source type="audio/mp3" src="{{p.audioLink}}" />
                            <source src="vincent.ogg" type="audio/ogg" />
                        </audio>

                    </div> 
                    <h1><span style="font-size:.6em; color:#666666"> These are the stories of </span><br />Life Done Different<span>.</span>
                        <!-- <span style="color:#00acb7">|</span> -->
                        <!-- <span style="font-size:.7em; color:#666666">Occupation</span>  -->
                    </h1>

                    <p>Life Done Different is dedicated to exploring unconventional lifestyle paths, the people who create them and the trade offs that come with them. </p>
                    <p>Life Done Different is an honest conversation. It is created it hope of presenting another vantage point; an alternative to the norm. No matter your medium, challenging the status quo is good thing.</p>
                  
                </div>
            </div>
            <div class="row show-comments-links">
                <div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          + Show Notes and Links
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
          <div class="show-notes col-xs-6">
                                    <ul>
                                        <li>Test note1</li>
                                        <li>Test note 2</li>
                                        <li>Test note 3</li>
                                    </ul>
                                </div>
                                <div class="show-links col-xs-6">
                                    <ul>
                                        <li>Test Link 1</li>
                                        <li>Test Link 2</li>
                                        <li>Test Link 3</li>
                                    </ul>
                                </div>

      </div>
    </div>
  </div>
</div>




            </div>




        </div>
        <div class="comment-section col-xs-10 col-xs-offset-1">
            <h2>Comments:</h2>
            <div class="comments-made">
                <h3>Name <span style="font-size:.7em; color:#666666">time</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus
                    placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus.Aliquam erat volutpat.
                </p>
            </div>

            <div class="comments-made">
                <h3>Name <span style="font-size:.7em; color:#666666">time</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus
                    placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus.Aliquam erat volutpat.
                </p>
            </div>
        </div>

        
        <div class="row col-xs-12 background-grey">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="create-comment">
                    <h2>Leave Your Comment!</h2>
                    <form action="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" id="usr" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <!-- <label for="comment">Comment:</label> -->
                            <textarea class="form-control" rows="5" id="comment" placeholder="Write your comment here..."></textarea>
                        </div>
                        <input type="submit" name="" value="Submit" class="button btn-primary">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>  -->
    <!-- Start {{{body}}} insert for hanlebars - above is part of the main.hbs file -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="/js/mediaelement-and-player.min.js"></script>  -->

</body>

</html>