<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Life Done Different</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- <link rel="stylesheet" href="/js/mediaelementplayer.min.css" /> -->

</head>

<body style="padding-top: 70px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="imgs/banner-header-pastel.png" width="200px" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <h1>Podcast page</h1>
    <div class="container-fluid">

        <div class="row">

            <div class="episode-card col-sm-4">

                <img src="http://i.imgur.com/6bU115l.jpg" alt="" class="episode-card-image col-sm-12">
                <!-- <div class="podcast-card-components"> -->
                <!-- <div class="podcast-card-headline">

            </div> -->
                <!-- </div> -->
            </div>
            <div>
                <h3>Guest Name </h3>
                <h3>Occupation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>
            </div>
        </div>

        <div class="comments-made">
            <h2>Comments:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus
                placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus.Aliquam erat volutpat.
                Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero
                eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>
        </div>
        <div class="create-comment">
            <h2>Leave Your Comment!</h2>
            <form action="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="usr">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <input type="submit" name="" value="Submit">
            </form>
        </div>
        
    </div>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>  -->
    <!-- Start {{{body}}} insert for hanlebars - above is part of the main.hbs file -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="/js/mediaelement-and-player.min.js"></script>  -->

</body>

</html>