<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Life Done Different</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="http://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
            width: 450px;
        }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <!-- <link rel="stylesheet" href="/js/mediaelementplayer.min.css" /> -->

</head>

<body>
    <!-- Start {{{body}}} insert for hanlebars - above is part of the main.hbs file -->

    <h1>Modal Demo</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Subscribe Modal
</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- Begin Body of Modal Form -->
                <div class="subscribe-md-header">
                    <h2>Subscribe and Never Miss and Episode!</h2>
                </div>
                <div class="subscribe-md-body">
                    <div class="subscribe-itunes">
                        <h2> Subscribe on iTunes</h2>
                        <h2><a href="https://itunes.apple.com/us/podcast/life-done-different/id1266984072?mt=2&ls=1" target="_blank"><img src="imgs/available-iTunes.png" width="180" alt="#"></a></h2>
                        <!-- <img src="" alt=""> -->
                    </div>
                    <!-- <div class="subscribe-sticher">
                        <h2> Subscribe on Sticher</h2>
                        <h2><a href=""><img src="imgs/available-Sticher.jpg" width="180" alt=""></a></h2>
                        
                    </div> -->
                </div>

                <!--End Body of Modal Form-->

                <div class="modal-footer">
                    <div class="ft-signup">
                        <div class="justify-start subscribe-nav-link" data-dismiss="modal" data-toggle="modal" data-target="#myModal2"><a href="#">Sign up for our Newsletter!</a></div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->




    <!-- Button trigger modal 2-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
            Newsletter Modal
          </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- Begin MailChimp Signup Form -->

                <div id="mc_embed_signup">
                    <form action="http://lifedonedifferent.us16.list-manage.com/subscribe/post?u=c0105406e04746bd1685a0671&amp;id=a871b857b1"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                        novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2>Sign Up for Our Newsletter</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                            </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
                                            </label>
                                <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                            </div>
                            <!-- <div class="mc-field-group">
                                            <label for="mce-LNAME">Last Name </label>
                                            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                        </div> -->
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c0105406e04746bd1685a0671_a871b857b1" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button orange"></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>
                    (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);
                </script>
                <!--End mc_embed_signup-->

                <div class="modal-footer">
                    <div class="ft-signup">
                        <div class="justify-start subscribe-nav-link" data-dismiss="modal" data-toggle="modal" data-target="#myModal"><a href="#">Subscribe to the Show</a></div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->

    <script src="js/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <!-- <script src="/js/mediaelement-and-player.min.js"></script> -->
    <script src="js/main.js"></script>
</body>

</html>