<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Life Done Different</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="http://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup {
                        background: #fff;
                        clear: left;
                        font: 14px Helvetica, Arial, sans-serif;
                        width: 450px;
                    }
                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
    <!-- <link rel="stylesheet" href="/js/mediaelementplayer.min.css" /> -->

</head>

<body>
    <!-- Start {{{body}}} insert for hanlebars - above is part of the main.hbs file -->

    <h1>Modal Demo</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- Begin Body of Modal Form -->
                
                <div>
                   <h2> This is the Modal</h2>
                </div>
                
                <!--End Body of Modal Form-->

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End {{{body}}} insert for hanlebars - above is part of the main.hbs file -->
    <script src="js/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <!-- <script src="/js/mediaelement-and-player.min.js"></script> -->
    <script src="js/main.js"></script>
</body>

</html>