<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Life Done Different</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- <link rel="stylesheet" href="/js/mediaelementplayer.min.css" /> -->

</head>

<body style="padding-top: 70px">
    
    <nav class="navbar navbar-default navbar-fixed-top">
        <a class="navbar-brand" href="#" style="padding-right:0; margin: 10px -20px 10px 0">
                    <img src="imgs/banner-header-pastel.png" width="300px" alt="" >
                </a>
        <span class="navbar-right navbar-brand" style="padding:0; margin: 8px 8px 0 0">
      <img src="imgs/Icon-logo.png" width="50px"  alt="" >
    </span>
        <div class="container-fluid">
             
            <!-- Brand and toggle get grouped for better mobile display -->
            
            <div class="navbar-header" >
                 
               
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 
               
                
                    
            </div>
            

            <!-- Collect the nav links, forms, and other content for toggling -->
            

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right" style="margin-top: 10px">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        
    </nav>

     <!-- <h1>Podcast page</h1>  -->
    <div class="container">
        <div class="row justify-content-center">
           
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3">
            <div class="blue-border">
                <div class="podcast-card">
                    <a href="#">
                        <div class="podcast-image-writing">
                            <div class="podcast-card-image">

                                <img src="http://i.imgur.com/6bU115l.jpg" alt="">

                            </div>
                            <div class="written-content">
                                <h3>Guest</h3>
                                <h4>Occupation</h4>
                                <p>This is the short interview: It is a long established fact that a reader will be distracted
                                    by the readable content of a page when looking at its layout. The point of using Lorem
                                    Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English.
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="audio-clip">
                        <audio controls preload="none" class="small">
                            <source type="audio/mp3" src="http://traffic.libsyn.com/lifedonedifferent/No_Rush.mp3" />
                            <source src="vincent.ogg" type="audio/ogg" />
                        </audio>
                    </div>



                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3">
            <div class="blue-border">
                <div class="podcast-card">
                    <a href="#">
                        <div class="podcast-image-writing">
                            <div class="podcast-card-image">

                                <img src="http://i.imgur.com/6bU115l.jpg" alt="">

                            </div>
                            <div class="written-content">
                                <h3>Guest</h3>
                                <h4>Occupation</h4>
                                <p>This is the short interview: It is a long established fact that a reader will be distracted
                                    by the readable content of a page when looking at its layout. The point of using Lorem
                                    Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English.
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="audio-clip">
                        <audio controls preload="none" class="small">
                            <source type="audio/mp3" src="http://traffic.libsyn.com/lifedonedifferent/No_Rush.mp3" />
                            <source src="vincent.ogg" type="audio/ogg" />
                        </audio>
                    </div>



                </div>
            </div>
        </div>


        </div>
    </div>




    <!-- <div class="yellow-box">
        <div class="red-box"></div>
        <div class="blue-box">Hello My name is Blue box and I want to see if this works... What do you think?</div>
        <div class="purple-box">Hello My name is Blue box and I want to see if this works... What do you think?</div>


    </div>

    <div class="blue">
        <div class="red"></div>
    </div> -->




    <!-- <div class="podcast-card-wrapper col-sm-4">
            <div class="podcast-card-components">
                <div class="podcast-card">

                    <img src="http://i.imgur.com/6bU115l.jpg" alt="" class="podcast-card-image"> -->
    <!-- <div class="podcast-card-components"> -->
    <!-- <div class="podcast-card-headline">

            </div> -->
    <!-- </div> -->
    <!-- </div>
            </div>
            <h3>Guest Name </h3>
            <h3>Occupation</h3>
            <p>This will be their short bio: <br /> Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus
                commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

        </div> -->

    <!-- </div> -->
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis fermentum sem, quis blandit tellus placerat et. Proin vitae vehicula leo. Maecenas finibus hendrerit risus vel rhoncus. Aliquam erat volutpat. Aenean non urna dictum lorem elementum iaculis. Sed id dapibus turpis. Nulla ipsum orci, aliquam eu libero eget, luctus commodo dui. Aenean purus sem, ultrices eleifend sapien at, tristique consequat odio.</p>  -->
    <!-- Start {{{body}}} insert for hanlebars - above is part of the main.hbs file -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- <script src="/js/mediaelement-and-player.min.js"></script>  -->

</body>

</html>