/* Landing Page CSS */
body{
    margin: 0 auto;
    padding-bottom: 70px !important
}
h1{
    color: #ff4c2f;
}
#landing-logo{
    margin: auto;
    width: 70%;
    padding: 15%;
}

/* Navigation CSS */

/* Podcast Main Page  */

.podcast-card{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 20px;
    border-radius: 8px;
     background-color: #00acb7; 
   
    padding: 5px;
    height: 440px;
    width: 308px;


}
.podcast-card-components{
    
}
.podcast-card-image{
    margin-top: 8px;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    height: 400px;
    width: 280px
}