/* Landing Page CSS */
body{
    /* height: 100%; */
    /* background-color: lightblue; */
    margin: 0 auto;
    padding-bottom: 70px !important
}
html, body {
    height: 100%;
}
.full-height{
    margin-top: -30px; 
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
     display: flex; 
     align-items: center;    
}
.btn-primary {
    color: #fff;
    background-color: #00acb7 !important;
     border-color: #00acb7; 
}
.btn-primary.focus, .btn-primary:focus{
    color: #fff;
    background-color: #00acb7 ;
     border-color: #00acb7; 
}
.btn-primary:hover {
    color: #fff;
    background-color: #ff4c2f !important;
     border-color: #ff4c2f; 
}
.btn-primary:active {
    color: #fff;
    background-color: #ff4c2f ;
     border-color: #ff4c2f; 
}

.horz-center{
    display: flex;
    justify-content: center;
}
.button-style{
    width: 75%;
}
.bttn-row{
   padding: 30px 0 0 0; 
}
.button-spacing{
    padding: 10px 0 0 0;
}
h4{
    color: #ff4c2f !important
}

h3{
    color: #00acb7 !important
}

#landing-logo{
    margin: auto;
    width: 100%;
    
}
 #mc_embed_signup{
    width: 100% !important
}

#mc_embed_signup h2{
    font-variant: small-caps !important;
    letter-spacing: 2px !important;
    color: #00acb7 !important;
    text-align: center !important;
    padding-bottom: 8px !important;
    margin-right: 5% !important;
    border-style: solid;
    border-width: 0 0 1px 0;
}

#mc_embed_signup .mc-field-group label{
    color: #ff4c2f !important
} 

/* Navigation CSS */


.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
   background-color: #00acb7; 
   color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ff4c2f;
}
.navbar-collapse ul li{
    text-align: center;
}
/* Podcast Main Page  */

.blue-border{
    background-color:#00acb7;
    display: flex;
    align-items: center;
    justify-content: center;
     height: 480px;
    padding-bottom: 5px;
    width: 308px;
    border-radius: 8px;
    margin: 8% auto;  

}
.podcast-card{
    /* position: absolute; */
    display: flex;
    flex-direction: column;  
    align-items: center;
    
    height: 460px;
    width: 290px;
    border-radius: 8px;
    background-color: white; 
}
.podcast-card p{
    /* color: #606161; */
    color:#404040;
}
.podcast-card a{
    text-decoration: none;
}

.podcast-image-writing{
    display: flex;
    flex-direction: column; 
    height: 400px;
    width: 280px; 
}
.podcast-card-image{
    position: absolute;
}

.podcast-card-image img{
    border-radius: 12px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
     height: 400px; 
     width: 280px; 
    /* width: 30%; */
}

.written-content{
    align-self: flex-start;
    background-color: white; 
     opacity: 0.85; 
    overflow: hidden;
    border-radius: 8px;
    height: 80px;
    width: 280px;
    padding: 10px;
}

.written-content p{
    text-align: justify;
}
.written-content h3{
    padding-top: 5px;
    margin: 0;
    text-align: center;
}
.written-content h4{
    text-align: center;
}

.audio-clip{
     margin-top: 10px; 
    /* padding-top: 15px; */
    background-color: white;
    width: 280px;
    height: 40px;
    border-radius: 8px;
    z-index: 12;
}
.small{
    width: 270px;
    border-radius: 8px;
    margin: 0 0 0 5px; 
} 


/* Each Episode Page  */

.full-top-row{
    margin-top: 30px;
}
.episode-top-row-writing{
    padding-left: 30px;
}
.episode-top-row-writing p{
    color: #666666;
    font-size: .1.2em;
    line-height: 2em;
    text-align: justify;
}
.episode-top-row-writing h2{
    padding-top: 0;
    margin-top: 0;
    color: #ff4c2f;
}
 .episode-card{
    border-radius: 8px;
    background-color: #00acb7;
    margin-bottom: 30px; 
    padding: 10px; 
    
} 
.episode-card-image{
    width: 100%;
    justify-content: center;
    align-items: center;  
    box-sizing: border-box;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}
.card-block{
    text-align: right;
    
}

.card-block ul{
    list-style: none;
}
.card-block ul li{
    color: #666666;
    font-size: .1.2em;
    line-height: 2em;
}
#accordion a{
    color: #ff4c2f;
    text-align: right;
}
#accordion h5{
    text-align: right;
}
.comment-section{
    margin-top: 15px;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #00acb7;
}
.comment-section h2{
 color: #ff4c2f;
}
.comments-made{
    padding: 0 0 30px 0;
}

.comments-made p{
    color: #666666;
    font-size: 1em;
    line-height: 1.7em;
    text-align: justify;
}
.large{
    width: 100%;
    margin-bottom: 20px;
}
.create-comment h2{
    color: #ff4c2f;
}
.background-grey{
    background-color: #ebebeb;
    width: 100%;
    margin: 0 ;
    padding:20px;

}

/* AUDIO PLAYER */
/* audio{
    width: 400px;
    background-color: none;
} */

/* ABOUT PAGE */

.about-card{
    /* height: ; */
    /* overflow: hidden; */
    border-radius: 8px;
    background-color: #00acb7;
    margin-bottom: 20px;  
     padding: 10px; 
}
.about-card-image{
    width: 100%;
    /* min-height: 200px; */
    /* position:fixed; */
    overflow: hidden;
    justify-content: center;
    align-items: center;  
    box-sizing: border-box;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}
#image{
    width: 100%;
    min-height: 250px; 
    background: #000 url("http://i.imgur.com/uAjff9y.jpg") center no-repeat;
    background-size: auto 120%;
}
.about-title h1{
    margin-top:0;
    padding-top:0;
    line-height: 1.4em;
    font-size: 2.6em;
}

.about-title p{
    text-align: justify;
}

/* ANIMATION */
.grower{
    animation-name: grower;
    animation-duration: .5s;
    animation-fill-mode: forwards 
}
.shrink{
    animation-name: shrink;
    animation-duration: .5s;
    animation-fill-mode: forwards  
}
@keyframes grower {
    0% {height: 75px;} 
    100%{height: 400px;}
}
@keyframes shrink {
    0% {height: 400px;} 
    100%{height: 75px;}
}




.yellow-box{
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: yellow;
    width: 200px;
    height: 200px;
}
.red-box{
       /* position: static;    */
    /* display: flex; */
    /* justify-content: center; */
    background-color: red;
    width: 100px;
    height: 100px;
}
.black-box{
      /* position: relative;   */
    background-color: black;
    width: 75px;
    height: 75px;
    
}
.blue-box{
      /* position: relative;   */
    overflow: hidden;
    background-color: lightblue;
     width: 50px;
    height: 50px; 
    /* align-self: center;  */
     /* animation-iteration-count: infinite;  */
  /* animation-name: grower;
  animation-duration: 2s;
animation-fill-mode: forwards */

}
.purple-box{
     /* position: relative;  */
    overflow: hidden;
    background-color: lavender;
    margin: 60px;
     width: 50px;
    height: 50px; 
    align-self: flex-end; 
     /* animation-iteration-count: infinite;  */
  /* animation-name: shrink;
  animation-duration: 2s;
  animation-fill-mode: forwards */

}
.changeRed{
    background-color: red;
}

.red{
  background-color: red;
  width: 50px;
  height: 50px
}
.blue{
  background-color: blue;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
