   <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/imgs/banner-header-pastel.png" width="200px" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/podcasts"> Podcasts</a></li>
                    <li><a href="/about">About</a></li>
                    {{!-- <li><a href="/contact">Contact</a></li> --}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

  <div class="container-fluid">

        <div class="row">

            <div class="episode-card col-sm-4">

                <img src="http://i.imgur.com/6bU115l.jpg" alt="" class="episode-card-image col-sm-12">
                <!-- <div class="podcast-card-components"> -->
                <!-- <div class="podcast-card-headline">

            </div> -->
                <!-- </div> -->
            </div>
            <div>
                <h1> Welcome to the stories of <br />Life Done Different. </h1>
                <h3>Created by Nathan Wang</h3>
                <p>Life Done Different is dedicated to exploring unconventional lifestyle paths, the people who create them and the trade offs that come with them.</p>
                <p>Life Done Different is an honest conversation. It is created it hope of presenting another vantage point; an alternative to the norm. No matter your medium, challenging the status quo is good thing.</p>
            </div>
        </div>