/* Landing Page CSS */
body{
    margin: 0 auto;
    /* padding-bottom: 70px !important */
}
p{
    text-align: justify
}
h1, h2{
    color: #ff4c2f;
    text-align: center;
}
h3, h4{
 color:#00acb7;  
 text-align: center; 
}
#landing-logo{
    margin: auto;
    width: 70%;
    /* padding: 15%; */
}

/* Navigation CSS */

/* Podcast Main Page  */

.podcast-card{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 20px;
    border-radius: 8px;
     background-color: #00acb7; 
   
    padding: 5px;
    height: 440px;
    width: 308px;


}
.podcast-card-wrapper{

}
.podcast-card-components{
   display: flex; 
    /* justify-content: center;
   align-items: flex-end;  
   box-sizing: border-box; */
   height: 440px;
    width: 308px;
}
.podcast-card-image{
    margin-top: 8px;
    justify-content: center;
   align-items: center;  
   box-sizing: border-box;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    height: 400px;
    width: 280px;
    
}
 .podcast-card-headline{
    width: 280px;
    height: 40px;
    background-color: #ffffff;
    justify-content: center;
   align-items: flex-end;  
   box-sizing: border-box;
} 

/* Each Episode Page  */

 .episode-card{
    margin: 20px;
    border-radius: 8px;
     background-color: #00acb7; 
   /* width: 40%; */
    padding: 5px;
    
} 
.episode-card-image{
margin-top: 8px;
    justify-content: center;
   align-items: center;  
   box-sizing: border-box;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    /* flex: 1; */
}
.large{
    width: 400px;
    background-color: none;
    /* opacity: 0.5; */
    /* color: #ffffff; */
}

/* AUDIO PLAYER */
.small{
    width: 380px;
    background-color: none;
    /* opacity: 0.5; */
    /* color: #ffffff; */
}

